
{{#each albums}}
  <div>
    <h2>{{name}}</h2>
    
      {{#if images}}
      <img src="{{images.1.url}}" alt="{{name}}'s image">
      {{/if}}
     
     <br>
        <button>
           <a href='/tracks/{{id}}'>Tracklist </a>
        </button>
 </div>
{{/each}}